.reactMarkdown {
    padding: 1rem;

}

.reactMarkdown h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.reactMarkdown li {
    margin-left: 1.5rem;
    list-style: disc;
}

.reactMarkdown p {
    margin: .75rem 0;
}

.reactMarkdown p a {
    color: #1e90ff;
    text-decoration: underline;
}